/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



*{
    border: 2px solid orange;
    text-decoration:none;
}

.top {
    background-color: rgb(188, 237, 252);
    padding: 14px 40px;
    font-size: 12px;
    font-family: "IBM Plex Serif";
}

h1 {
    font-family: "Dancing Script";
    font-size: 20px;
    margin-bottom: 5px;
}

nav{
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    min-width: 5vw;
}

#home {
    min-width: 5vw;
    text-decoration: none;
}

#about{
    min-width: 5vw;
    text-decoration: none;
}

#contact {
    min-width: 6vw;
    text-decoration: none;
}

#projects{
    min-width:5vw;
    text-decoration: none;
}


#home #about #content #projects{
    display: flex;
    justify-content: space-evenly;
}

#big-button{
/*margin-top: 10px;*/
margin-bottom: 40px;
}


body .body-2 .header #header-image {
    border-radius: 5px;
    font-family: "IBM Plex Serif";
}

button {
    background-color: lightpink;
    border: none;
    font-size: 12px;
    padding: 14px 40px;
    border-radius: 2px;
    font-family: "IBM Plex Serif";
    text-decoration: none;
}

#p{
    height: 80%;
}

.header {
    display:flex;
    padding: 5% 4%;
}

/*.body-2 .header .header-text #p {
    min-height: 10vh;
}*/

h3{
    height:20%;
    font-size: 40px;
    margin-top: 40px;
}

button {
    display: flex;
    justify-content:space-around;
}

p {
    margin-top: 5%;
}

#p {
    display: flex;
    justify-content:space-around;
    height:5%;
    margin-top: 5%;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    padding: 5% 4%;
    justify-content:space-between;
    align-items: left;
    /*min-height: 80vh;*/
}

.gallery p{
    margin-bottom: 5%;
}

.image-one, .image-two, .image-three, .image-four, .image-five, .image-six, .image-seven, .image-eight {
    width: 20%;
    padding: 2%;
}

footer {
    min-height: 30vh;
    min-width: 80vw;
    justify-content:space-evenly;
    margin: 40px;
    }
#second-button{
    margin: 20px 0;
}

.bottom-items #second-button{
    text-decoration: none;
}
@media(max-width: 800px){
    .image-one, .image-two, .image-three, .image-four, .image-five, .image-six, .image-seven, .image-eight {
        width: 15%;
        margin-right: 10%;
    }
    h3{
        height:20%;
        font-size: 40px;
        margin-top: 0;
    }
}
@media(max-width: 780px){
    .my-name{
        margin-bottom: 15%;
    }
}

@media(max-width: 500px){
    .image-one, .image-two, .image-three, .image-four, .image-five, .image-six, .image-seven, .image-eight {
        width: 35%;
        margin-right: 10%;
    }
    .gallery {
        padding: 5% 4%;
        justify-content:space-between;
        align-items: left;
    }
    .top{
        background-color: white;
        color: black;
        display:flex;
        flex-direction:column;
        align-items: center;
    }

    h1{
        font-size: 45px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    nav {
        display:flex;
        flex-direction:column;
        align-items: center;
        margin: 3%;
    /*padding: 14px 40px;*/
        font-size: 16px;
    }

    #home {
        margin: 2% 0;
        background-color: rgb(188, 237, 252);
        border: none;
        padding: 14px 40px;
        width: 50px;
        border-radius: 2px;
        font-family: "IBM Plex Serif";
        text-decoration: none;
    }

    #about {
        margin: 2% 0;
        background-color: rgb(188, 237, 252);
        border: none;
        padding: 14px 40px;
        width: 50px;
        border-radius: 2px;
        font-family: "IBM Plex Serif";
        text-decoration: none;
    }

    #contact {
        margin: 2% 0;
        background-color: rgb(188, 237, 252);
        border: none;
        padding: 14px 40px;
        width: 50px;
        border-radius: 2px;
        font-family: "IBM Plex Serif";
        text-decoration: none;
    }

    #projects {
        margin: 2% 0;
        background-color: rgb(188, 237, 252);
        border: none;
        padding: 14px 40px;
        width: 50px;
        border-radius: 2px;
        font-family: "IBM Plex Serif";
        text-decoration: none;
    }

    .header{
        display:flex;
        flex-direction: column;
    }

    /*#header-image{
        margin:0;
        width:90vw;
        justify-content:center;
    }*/

    .body-2{    
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin: 10% 0;
    }

    #header-image {
        display:flex;
        justify-content:center;
        margin: -8% 0 10% 0;
        width: 90vw;

    }

    .my-name{
        display:flex;
        justify-content:center;
    }

    .header-text{
        display:flex;
        justify-content:center;
        flex-direction: column;
    }

    .big-button{
        display:flex;
        justify-content:center;
        width: 30vw;
        padding: 14px 40px;
        margin: 6% 35% 1%;
    }

    #paragraph{
        display:flex;
        justify-content:center;
    }

    .bottom-items {
        display:flex;
        align-items:center;
    }
}

/*footer .bottom-items{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    min-height: 100vh;
}



.fa-facebook .fa-twitter .fa-instagram .fa-dribbble {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;*/

   